* { 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.items {
    width: 100px;
    height: 80px;
    padding: 10px;
    margin: 20px;
    cursor: pointer;
    background-color: red;
}

.items-container {
    display: flex;
    flex-wrap: wrap;
    height: 300px;
}