@import url('https://fonts.googleapis.com/css2?family=Genos:wght@500&display=swap');

* { 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Genos', sans-serif;
    color: #F0EDE2;
}

body {
    background-color:#1D181A;
}

button {
    text-align: inherit;
    border: none;
    width: auto;
    overflow: visible;
    background: transparent;
    color: inherit;
    font: inherit;
    line-height: normal;
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;
}

.container {
   width:1250px;
   padding: 1.5rem;
   
}

.content-top {
    height: 50px;
}

.info-button {
    border-radius: 30px;
    padding: 5px 15px;
    cursor: pointer;
    font-size: 34px;
}

.info-button:hover {
    background-color: rgba(198, 182, 182, 0)

}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    background-color: #1D181A;
    z-index: 100;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 300px;
    height: 230px;
    background-color: #F0EDE2;
    color: #1D181A;
    margin: 13px;
    margin-bottom: 5px;
    transition: 0.2s;
}

.clicked {
    background-color: #9e9b96;
    opacity: 0.5;
}

.items-img {
    margin-top: 10px;
    width: 280px;
    height: 160px;
    border: solid 2px black;
}

.items-button-container {
    display: flex;
    justify-content:space-between ;
    align-items: center;
    height: 70px;
    width: 100%;
    padding: 10px 25px;
    color: #1D181A;
}

.items-title {
    font-weight: 600;
    color: #1D181A;
    font-size: 25px;
}



.items-info-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 26px;
    height: 26px;
    cursor: pointer;
 
    border-radius: 100px;
    transition: 0.2s;
    user-select: none;
}

.items-info-button:active {
    background-color: darkslategrey;
}


.img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.items-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.pop-up {
    margin-top: auto;
    margin-left: auto;
    margin-bottom: auto;
    margin-right: auto;
}

.pop-up-inside {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    width: 520px;
    height: 180px;
    margin-top: auto;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: auto;
    background-color: #F0EDE2;
}

.pop-up::backdrop {
    background: rgb(0 0 0 / .5);
}

.pop-up-info {
    padding: 10px;
    margin: 15px;
    margin-bottom: 5px;
    width: 480px;
    height: 300px;
    border: solid 3px black;
    font-size: 19px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}

.pop-up-button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: #1D181A;
    transition: 0.2s;
    cursor: pointer;
    width: 80px;
    user-select: none;
}

.pop-up-button:hover {
    background-color: #1D181A;
    color: #F0EDE2;
}

.pop-up-button-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0 40px;
}

.content .container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.select-section {
    cursor: pointer;
}

.show-code-container {
    display: none;
    justify-content: center;
    height: 200px;
    width: 100%;
    background-color: #1D181A;
    
}

.show-code-div {

    display: flex;
    position: fixed;
    bottom: 70px;
    align-items: center;
    flex-direction: row-reverse;
    padding: 5px;
    width: 600px;
    height: 100px;
    background-color: #609966;
    box-shadow: -1px 1px 30px 7px rgba(0,0,0,0.71);
-webkit-box-shadow: -1px 1px 30px 7px rgba(0,0,0,0.71);
-moz-box-shadow: -1px 1px 30px 7px rgba(0,0,0,0.71);
}

.show-code-div-inner{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row-reverse;
    width: 100%;
    height: 100%;
    color: #1D181A;
    background-color: #F0EDE2;
}

.show-code-inner-text {
    display: flex;
    align-items: center;
    background-color: #F0EDE2;
    border: none;
    outline: none;
    padding: 5px;
    white-space: nowrap;
    overflow: hidden;
    width: 500px;
    font-size: 24px;
    color: #1D181A;
    overflow-x: auto;
    scrollbar-width: none;
    scroll-behavior: smooth;
    scroll-snap-type: mandatory;
}

.copy-svg {
    cursor: pointer;
    color: #1D181A;
    width: 40px;
    height: 40px;
}

.copy-svg:hover {
    background-color: #9e9b9636;
}

.copy-svg:active {
    background-color: #1d181a89;
}

.smooth-content {
    scroll-behavior: smooth;
}

/* .copy-svg:hover {
    color: ;
} */

/* .modal {
    display: none;
} */
