@import url('https://fonts.googleapis.com/css2?family=Genos:wght@500&display=swap');

* { 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Genos', sans-serif;
    color: #F0EDE2;
}

body {
    background-color:#1D181A;
}

button {
    text-align: inherit;
    border: none;
    width: auto;
    overflow: visible;
    background: transparent;
    color: inherit;
    font: inherit;
    line-height: normal;
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;
}

.container {
   width:1250px;
   padding: 1.5rem;
   
}

.info-button {
    font-size: 30px;
    border-radius: 30px;
    padding: 5px 15px;
    cursor: pointer;
}

.info-button:hover {
    background-color: rgba(198, 182, 182, 0)

}

header {
    display: flex;
    justify-content: center;
    align-items: center;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 300px;
    height: 230px;
    background-color: #F0EDE2;
    color: #1D181A;
    margin: 13px;
    margin-bottom: 5px;
}

.items-img {
    margin-top: 10px;
    width: 280px;
    height: 160px;
    border: solid 2px black;
}

.items-button-container {
    display: flex;
    justify-content:space-between ;
    align-items: center;
    height: 70px;
    width: 100%;
    padding: 10px 25px;
    color: #1D181A;
}

.items-title {
    font-weight: 600;
    color: #1D181A;
    font-size: 25px;
}

.items-info-button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    cursor: pointer;
    width: 35px;
    height: 30px;
    border-radius: 100px;
    transition: 0.2s;
}

.items-info-button:hover {
    background-color: #1D181A;
    color: #F0EDE2;
}

.items-info-button:active {
    background-color: darkslategrey;
}


.img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.items-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.pop-up {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    width: 520px;
    height: 180px;
    margin-top: auto;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: auto;
    background-color: #F0EDE2;
}

.pop-up::backdrop {
    background: rgb(0 0 0 / .5);
}

.pop-up-info {
    padding: 10px;
    margin: 15px;
    margin-bottom: 5px;
    width: 480px;
    height: 100px;
    border: solid 3px black;
    font-size: 18px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}

.pop-up-button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: #1D181A;
    transition: 0.2s;
    cursor: pointer;
    width: 80px;
    user-select: none;
}

.pop-up-button:hover {
    background-color: #1D181A;
    color: #F0EDE2;
}

.pop-up-button-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0 40px;
}

.content .container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

/* .modal {
    display: none;
} */